.portfolio{
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: linear-gradient(500deg, #ff1fff9d, #31d6ffb2);
    padding: 30px 40px;
}
.portfolio .botton{
    position: absolute;
    bottom: 2%;
    left: 5%;
    width: 130px;
    height: 130px;
    background: linear-gradient(0deg, #790a8f, #FA00CF);
    border-radius: 50%;
}
.portfolio .left{
    position: absolute;
    top: 10%;
    left: 20%;
    width: 80px;
    height: 80px;
    background: linear-gradient(180deg, #8C0CF6, #0C87F6);
    border-radius: 50%;
}
.portfolio .right{
    position: absolute;
    top: 12px;
    right: 18px;
    width: 100px;
    height: 100px;
    background: linear-gradient(0deg, #0DFFDB, #00FF48);
    border-radius: 50%;
}
.portfolio .top{
    position: absolute;
    bottom: 18%;
    right: 30%;
    width: 100px;
    height: 100px;
    background: linear-gradient(0deg, #ffffff, #00FF48);
    border-radius: 50%;
}

/* ###################################################################### */

.portfolio .container{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0 5%;
    background-color: #ffffff6b;
    border: 1px solid #fff;
    border-radius: 30px;
    backdrop-filter: blur(5px);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    transition: 0.5s;
}
.portfolio .container h1{
    font-size: 50px;
    font-weight: 600;
    color: #000625;
}
.portfolio .container .cont-img{
    padding: 10px 2% 5% 2%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.portfolio .container .cont-img .contimg1{
    width: 100%;
    display: flex;
    align-items: center;
}
.portfolio .container .cont-img .contimg1 .img{
    margin: 0 1% 1% 1%;
    padding: 1%;
    width: 350px;
    background-color: #ffffff52;
    backdrop-filter: blur(5px);
    border-radius: 10px;
    border: 1px solid #fff;
}
.portfolio .container .cont-img .contimg1 .img .btnview{
    margin: 3% 0 3% 0;
}
.portfolio .container .cont-img .contimg1 .img .btnview .view{
    padding: 10px 20px;
    margin: 10px 10px 0 0;
    text-decoration: none;
    background-color: #ffffff9f;
    backdrop-filter: blur(20px);
    border: 1px solid #fff;
    border-radius: 30px;
    color: #9e0707;
    font-weight: 500;
    font-size: 17px;
}
.portfolio .container .cont-img .contimg1 .img img{
    width: 100%;
}

/* ################################ */

.portfolio .container .toggle1{
    position: absolute;
    width: 50px;
    height: 50px;
    right: 40px;
    top: 20px;
    background-color: #ffffff9c;
    backdrop-filter: blur(20px);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-attachment: fixed;
}

.portfolio .container .toggle1 img{
    width: 30px;
    height: 30px;
    cursor: pointer;
}

/* ################################### */

.portfolio .nav-itens{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #ffffff6b;
    border: 1px solid #fff;
    border-radius: 30px;
    backdrop-filter: blur(5px);
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
    z-index: 10000;
    transition: 0.5s;
} 
.portfolio .nav-itens .contet-itens ul{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    list-style: none;
}
.portfolio .nav-itens .contet-itens ul li{
    margin: 10px 0 0 0;
}
.portfolio .nav-itens .contet-itens ul li a{
    text-decoration: none;
    font-size: 40px;
    font-weight: 500;
    color: #000625;
    transition: 0.2s;
}
.portfolio .nav-itens .contet-itens ul li a:hover{
    font-size: 50px;
}
.portfolio .nav-itens .toggle2{
    position: absolute;
    width: 50px;
    height: 50px;
    right: 40px;
    top: 20px;
    background-color: #ffffff9c;
    backdrop-filter: blur(20px);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    display: none;
    background-attachment: fixed;
}

.portfolio .nav-itens .toggle2 img{
    width: 30px;
    height: 30px;
    cursor: pointer;
}/* ################################ */

.portfolio .container .toggle1{
    position: absolute;
    width: 50px;
    height: 50px;
    right: 40px;
    top: 20px;
    background-color: #ffffff9c;
    backdrop-filter: blur(20px);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-attachment: fixed;
}

.portfolio .container .toggle1 img{
    width: 30px;
    height: 30px;
    cursor: pointer;
}

/* ################################### */

.portfolio .nav-itens{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #ffffff6b;
    border: 1px solid #fff;
    border-radius: 30px;
    backdrop-filter: blur(5px);
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
    z-index: 10000;
    transition: 0.5s;
} 
.portfolio .nav-itens .contet-itens ul{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    list-style: none;
}
.portfolio .nav-itens .contet-itens ul li{
    margin: 10px 0 0 0;
}
.portfolio .nav-itens .contet-itens ul li a{
    text-decoration: none;
    font-size: 40px;
    font-weight: 500;
    color: #000625;
    transition: 0.2s;
}
.portfolio .nav-itens .contet-itens ul li a:hover{
    font-size: 50px;
}
.portfolio .nav-itens .toggle2{
    position: absolute;
    width: 50px;
    height: 50px;
    right: 40px;
    top: 20px;
    background-color: #ffffff9c;
    backdrop-filter: blur(20px);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    display: none;
    background-attachment: fixed;
}

.portfolio .nav-itens .toggle2 img{
    width: 30px;
    height: 30px;
    cursor: pointer;
}

/* ####################################################### */