@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins' sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    background-size: 400%;
    background-position: center;
    background: linear-gradient(500deg, #ff1fff9d, #31d6ffb2);
    padding: 30px 40px;
}

.container{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #1517296c;
    background-image: url('../img/p404.png');
    backdrop-filter: blur(10px);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container .titlao h1{
    text-shadow: 10px 10px 0 #8b8b8b;
    font-size: 1000%;
    color: #ffffff;
}
.container .titlao h1 span{
    display: inline-block;
    animation: animate 2s infinite ease-in-out;
}
.container .titlao h1 span:nth-child(2){
    animation-delay: -1s;
    z-index: 200;
}


@keyframes animate{
    0%,100%{
        transform: translateX(-50px);
    }
    50%{
        transform: translateX(50px);
    }
}
.container .texts{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.container .texts h3{
    margin-top: 25px;
    font-size: 30px;
    font-family: 'consolas';
    color: #000000;
}
.container .texts h2{
    max-width: 80%;
    margin-top: 25px;
    font-size: 20px;
    font-family: 'consolas';
    color: #000000;
}

.container .btns{
    margin-top: 20px;
}
.container .btns a{
    padding: 10px 20px;
    margin: 10px 10px 0 0;
    text-decoration: none;
    background-color: #ffffff9f;
    backdrop-filter: blur(20px);
    border: 1px solid #fff;
    border-radius: 30px;
    color: #9e0707;
    font-weight: 500;
    font-size: 18px;
}